@import "tailwindcss";

body {
  background-color: #0f172a; /* bg-slate-950 */
  color: #e2e8f0;           /* text-slate-200 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}